$font: #FAFAFA;
$primary: rgba(0, 0, 0, 1);  
$secondary: rgba(175, 173, 181, 1); 
$accent: rgba(81, 133, 129, 1);  
$base:rgba(255, 255, 255, 1);
$card:rgba(255, 255, 255, 1);
$space-xl: 32px;
$space-l: 24px;
$space-xxl: 48px;
$button-primary-text: rgba(255, 255, 255, 1);
$brand-hover: rgba(134, 170, 167, 1);
$button-primary-bg: rgba(81, 133, 129, 1);
$button-primary-bg-disabled: rgba(217, 217, 217, 1);



$text-color: rgba(0, 0, 0, 1);
$font-family: 'Roboto', sans-serif;


/* Отступы */
$space-xxs:8px;
$space-xs: 12px;
$space-s: 16px;
$space-m: 20px;


$test: red;