@import '../../styles/variables';

.button {
    width: 100%; 
    height: 100%; 
    max-height: 52px;
    padding: $space-s $space-m;
    gap: $space-xxs;
    color: $button-primary-text;
    border: none; 
    background-color: $button-primary-bg;

    &:not(.button-disabled):not(.button-loading):hover { /* Применяем hover только к кнопкам, которые не disabled и не loading */
        background-color: $brand-hover; 
    }

    &.button-disabled {
        background-color: $button-primary-bg-disabled;

        &:hover {
            background-color: $button-primary-bg-disabled; /* Остается цвет для disabled */
            cursor: not-allowed; /* Курсор указывает, что кнопка неактивна */
        }
    }

    &.button-loading { 
        display: flex;
        align-items: center;
        padding: 14px $space-m;
    }
}
