@import 'styles/variables.scss';
@import 'styles/mixin.scss';



.related__products{
    @include cards-layout
  }

  
  .related__cards {
    display: flex;
    flex-direction: column;
    gap: $space-xl;
  }