@mixin cards-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(360px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 30px 80px;
    justify-content: center;
  }


  @mixin container {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: content-box;
  }