@import './mixin';

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}



.page {
  min-height: 100vh;
  height: auto;
  /* width: 1440px;
  margin: 90px auto 0px auto; */
  padding-top: 90px;
  background-color: var(--font);

  &__loader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    @include container

  }
} 
