@import '../../styles/variables';


.slider{
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__button {
    position: absolute;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    color: $base;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
    top: 50%;
    transform: translateY(-50%); /* Центрирование по вертикали */
  }
  
  &__button-left {
    left: $space-xl; 
  }
  
  &__button-right {
    right: $space-xl; 
  }
  
  &__button-disabled {
    opacity: 0.6; 
  }
  
  &__image {
    flex: 0 0 auto;
    min-width: 600px;
  }
}